{% extends "ledr/SimplePage.html" %}

{% block title %}
    Practice Round
{% endblock %}

{% block pre_text %}
    <p>
        This is a practice round, designed to give you an idea of what to expect in the rest of the survey.
        Your answers in this round will not be used in our analysis.

    </p>
        You will be shown 2 choice sets. As in the rest of the survey, each choice set will contain 4 products.
        Please select the product you would choose from the 4 alternatives.
    </p>
            <p>
                Prices are all for 6 packs of cans or bottles of the specified size.
            </p>
            <p>
                When you are ready, click 'Next' to move to the choice set.
            </p>



{% endblock pre_text %}
