{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Choice set {{ choice_set }}
{% endblock %}

{% block content %}
    {% if player.required_choice is not None %}
        <p>
            Please choose <b>Product {{ player.required_choice }}</b>.
        </p>
    {% else %}
        <p>
            {% for item in type %}
                {% if item.product_type == 'beers' %}
                    {% if player.brand == 'Stella Artois' %}
                        If&nbsp; <img src="https://i.imgur.com/8FFDwH6.png" width="100px" />&nbsp; launched a new beer, which would you prefer?
                    {% elif player.brand == 'Heineken' %}
                        If&nbsp;&nbsp; <img src="https://i.imgur.com/4frFvAD.png" width="100px" />&nbsp;&nbsp; launched a new beer, which would you prefer?
                    {% elif player.brand == 'Budweiser' %}
                        If <img src="https://i.imgur.com/kXBLoTt.png" width="100px" /> launched a new beer, which would you prefer?
                    {% elif player.brand == 'Corona' %}
                        If&nbsp;&nbsp; <img src="https://i.imgur.com/wRReU79.png" width="100px" />&nbsp;&nbsp; launched a new beer, which would you prefer?
                    {% elif player.brand == 'Busch' %}
                        If&nbsp; <img src="https://i.imgur.com/dYWjwb5.png" width="100px" />&nbsp; launched a new beer, which would you prefer?
                    {% elif player.brand == 'Coors' %}
                        If&nbsp; <img src="https://i.imgur.com/NuloasW.png" width="100px" />&nbsp; launched a new beer, which would you prefer?
                    {% elif player.brand == 'Miller' %}
                        If <img src="https://i.imgur.com/sw9xWX9.png" width="100px" /> launched a new beer, which would you prefer?
                    {% elif player.brand == 'Modelo' %}
                        If&nbsp;&nbsp;&nbsp; <img src="https://i.imgur.com/loxFQur.png" width="100px" />&nbsp;&nbsp;&nbsp; launched a new beer, which would you prefer?
                    {% else %}
                        If&nbsp; <img src="https://i.imgur.com/KsChuZC.png" width="100px" />&nbsp; launched a new beer, which would you prefer?
                    {% endif %}
                {% elif item.product_type == 'movies' %}
                    {% if player.brand == 'Hulu' %}
                        Which of these movies on <img src="https://i.imgur.com/A6hqTGp.png" width="100px" /> would you prefer?
                    {% elif player.brand == 'HBOMax' %}
                        Which of these movies on&nbsp;&nbsp; <img src="https://i.imgur.com/W7LtVA4.png" width="100px" />&nbsp;&nbsp; would you prefer?
                    {% elif player.brand == 'AppleTV+' %}
                        Which of these movies on <img src="https://i.imgur.com/ljpJlnB.png" width="100px" /> would you prefer?
                    {% elif player.brand == 'Paramount+' %}
                        Which of these movies on <img src="https://i.imgur.com/YGoZ6Mq.png" width="100px" /> would you prefer?
                    {% elif player.brand == 'Youtube Premium' %}
                        Which of these movies on <img src="https://i.imgur.com/jaK8DXg.png" width="200px" /> would you prefer?
                    {% elif player.brand == 'Peacock' %}
                        Which of these movies on&nbsp; <img src="https://i.imgur.com/pUmZllh.png" width="100px" />&nbsp; would you prefer?
                    {% elif player.brand == 'Netflix' %}
                        Which of these movies on&nbsp; <img src="https://i.imgur.com/qHb2bff.png" width="100px" />&nbsp; would you prefer?
                    {% elif player.brand == 'Prime Video' %}
                        Which of these movies on&nbsp; <img src="https://i.imgur.com/B4hWFjq.png" width="100px" />&nbsp; would you prefer?
                    {% else %}
                        Which of these movies on <img src="https://i.imgur.com/1ZLLV0y.png" width="100px" /> would you prefer?
                    {% endif %}
                {% else %}
                    {% if player.brand == 'Frontier' %}
                        If&nbsp; <img src="https://i.imgur.com/fCGVljo.png" width="100px" />&nbsp; launched a new package, which would you prefer?
                    {% elif player.brand == 'Verizon' %}
                        If&nbsp;&nbsp; <img src="https://i.imgur.com/W8GLPms.png" width="100px" />&nbsp;&nbsp; launched a new package, which would you prefer?
                    {% elif player.brand == 'Altice' %}
                        If&nbsp;&nbsp; <img src="https://i.imgur.com/FggJKQA.png" width="50px" />&nbsp;&nbsp; launched a new package, which would you prefer?
                    {% elif player.brand == 'Mediacom' %}
                        If <img src="https://i.imgur.com/AnLdYqU.png" width="100px" /> launched a new package, which would you prefer?
                    {% elif player.brand == 'CharterSpectrum' %}
                        If&nbsp; <img src="https://i.imgur.com/GfmFY7B.png" width="100px" />&nbsp; launched a new package, which would you prefer?
                    {% elif player.brand == 'CenturyLink' %}
                        If&nbsp;&nbsp; <img src="https://i.imgur.com/CgaqUBH.png" width="100px" />&nbsp;&nbsp; launched a new package, which would you prefer?
                    {% elif player.brand == 'AT&T' %}
                        If&nbsp;&nbsp; <img src="https://i.imgur.com/rVpRVFR.png" width="100px" />&nbsp;&nbsp; launched a new package, which would you prefer?
                    {% elif player.brand == 'Cox' %}
                        If <img src="https://i.imgur.com/KCgcF6S.png" width="100px" /> launched a new package, which would you prefer?
                    {% else %}
                        If&nbsp; <img src="https://i.imgur.com/rE0nPSq.png" width="100px" /> launched a new package, which would you prefer?
                    {% endif %}
                {% endif %}
            {% endfor %}
        </p>
    {% endif %}
    <table style="font-weight: bold", class="table table-striped table-bordered">
    <thead>
    <tr class="table-primary">
    <th>Product name</th>
    {% for item in items %}
        <th style="text-align:center">{{ item.product_name }}</th>
    {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for attribute, values in attributes.items %}
    <tr>
    <td style="font-weight: bold">{{ attribute }}</td>
    {% for val in values %}
        <td style="text-align:center">{{ val }}</td>
    {% endfor %}
    </tr>
    {% endfor %}

    <tr class="table-danger">
        <td style="font-weight: bold">Your choice:</td>
        {% for item in items %}
            <td style="text-align:center">
            <input name="choice" type="radio" value="{{ forloop.counter0 }}" required/>
            </td>
        {% endfor %}
    </tr>
    </tbody>
    </table>

    <div class="row justify-content-center">{% next_button %}
    </div>
{% endblock %}


