{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Choice set {{ choice_set }}
{% endblock %}

{% block content %}

    <table style="font-weight: bold", class="table table-striped table-bordered">
    <thead>
    <tr style="background-color: dodgerblue; color: white">

    <th>Product name</th>
    {% for item in items %}
        <th style="text-align:center">{{ item.product_name }}</th>
    {% endfor %}
    </tr>
    </thead>
    <tbody>
     <tr style="display:none">
     </tr>
    {% for attribute, values in attributes.items %}
    <tr>
    <td style="font-weight: bold; vertical-align: middle">{{ attribute }}</td>
    {% for val in values %}
        {% if val == 'Bud Light' %}
            <td style="text-align:center"> <img src="https://i.imgur.com/uNIUJeb.jpg" width="150px" />
                <p>
                    <br>
                    Bud Light
                </p>
            </td>
        {% elif val == 'Coors Light' %}
            <td style="text-align:center"> <img src="https://i.imgur.com/H9v50li.png" width="150px" />
                <p>
                    <br>
                    Coors Light
                </p>
            </td>
        {% elif val == 'Miller Lite' %}
            <td style="text-align:center"> <img src="https://i.imgur.com/Mv3kaZi.jpg" width="150px" />
                <p>
                    <br>
                    Miller Lite
                </p>
            </td>
        {% elif val == 'Budweiser' %}
            <td style="text-align:center"> <img src="https://i.imgur.com/pin2FDe.jpg" width="175px" />
                <p>
                    <br>
                    Budweiser
                </p>
            </td>
        {% elif val == 'Michelob Ultra' %}
            <td style="text-align:center"> <img src="https://i.imgur.com/559Mn4b.png" width="175px" />
                <p>
                    <br>
                    Michelob Ultra
                </p>
            </td>
        {% elif val == 'Corona Extra' %}
            <td style="text-align:center"> <img src="https://i.imgur.com/RrLZV33.png" width="150px" />
                <p>
                    <br>
                    Corona Extra
                </p>
            </td>
        {% elif val == 'Modelo Especial' %}
            <td style="text-align:center"> <img src="https://i.imgur.com/IZet5zZ.jpg" width="150px" />
                <p>
                    <br>
                    Modelo Especial
                </p>
            </td>
        {% elif val == 'Natural Light' %}
            <td style="text-align:center"> <img src="https://i.imgur.com/gnB1hwn.jpg" width="150px" />
                <p>
                    <br>
                    Natural Light
                </p>
            </td>
        {% elif val == 'Busch Light' %}
            <td style="text-align:center"> <img src="https://i.imgur.com/eCaZQCh.jpg" width="150px" />
                <p>
                    <br>
                    Busch Light
                </p>
            </td>
        {% elif val == 'Busch' %}
            <td style="text-align:center"> <img src="https://i.imgur.com/nUw9jOj.jpg" width="150px" />
                <p>
                    <br>
                    Busch
                </p>
            </td>
        {% elif val == 'Heineken' %}
            <td style="text-align:center"> <img src="https://i.imgur.com/ONb7fxq.jpg" width="150px" />
                <p>
                    <br>
                    Heineken
                </p>
            </td>
        {% elif val == 'Keystone Light' %}
            <td style="text-align:center"> <img src="https://i.imgur.com/utXG5fW.jpg" width="150px" />
                <p>
                    <br>
                    Keystone Light
                </p>
            </td>
        {% elif val == 'Miller High Life' %}
            <td style="text-align:center"> <img src="https://i.imgur.com/XUGypJf.jpg" width="150px" />
                <p>
                    <br>
                    Miller High Life
                </p>
            </td>
        {% elif val == 'Stella Artois' %}
            <td style="text-align:center"> <img src="https://i.imgur.com/X4k38IA.png" width="190px" />
                <p>
                    <br>
                    Stella Artois
                </p>
            </td>
        {% elif val == 'Pabst Blue Ribbon' %}
            <td style="text-align:center"> <img src="https://i.imgur.com/ziMmFI9.jpg" width="150px" />
                <p>
                    <br>
                    Pabst Blue Ribbon
                </p>
            </td>
        {% elif val == 'Blue Moon' %}
            <td style="text-align:center"> <img src="https://i.imgur.com/PNOuYcr.jpg" width="150px" />
                <p>
                    <br>
                    Blue Moon
                </p>
            </td>
        {% elif val == 'Dos Equis' %}
            <td style="text-align:center"> <img src="https://i.imgur.com/Wo2gfip.jpg" width="150px" />
                <p>
                    <br>
                    Dos Equis
                </p>
            </td>
        {% elif val == 'Coors Banquet' %}
            <td style="text-align:center"> <img src="https://i.imgur.com/M2AgKWT.png" width="150px" />
                <p>
                    <br>
                    Coors Banquet
                </p>
            </td>
        {% else %}
            <td style="text-align:center">{{ val }}</td>
        {% endif %}
    {% endfor %}
    </tr>
    {% endfor %}

    <tr class="table-danger">
        <td style="font-weight: bold">Your choice:</td>
        {% for item in items %}
            <td style="text-align:center">
            <input name="choice" type="radio" value="{{ forloop.counter0 }}" required/>
            </td>
        {% endfor %}
    </tr>
    </tbody>
    </table>

    <div class="row justify-content-center">{% next_button %}
    </div>
{% endblock %}


