{% extends "ledr/SimplePage.html" %}

{% block title %}
    Preferences on Beers
{% endblock %}

{% block pre_text %}
    <p>
        You will now face 10 choice sets. Please imagine you are in a supermarket and faced with the alternatives
        you are shown. Think carefully about your response and choose your favourite option. Your responses from this
        point onward will be recorded and used in our analysis.

    </p>
            You will be shown 4 beers in each set.
    </p>
            <p>
                Carefully consider the 4 alternatives and select the ONE you would most prefer.
            </p>
            <p>
                Prices are all for 6 packs of cans or bottles of the specified size.
            <p>
                When you are ready, click 'Next' to move to the first set of beers.
            </p>



{% endblock pre_text %}
