{% extends "ledr/SimplePage.html" %}

{% block title %}
Consent
{% endblock %}

{% block pre_text %}
    <p>
    You have been invited to participate in an online survey on testing consumer
        preferences for product characteristics on different goods and services.
        This is a research project being conducted by Janithe Siriwardana,
        a PhD student at the University of East Anglia (UEA).
        It should take approximately 5 minutes to complete.
    </p>
    <p>
    <b> Participation </b>
        <br> Your participation in this survey is voluntary. You may refuse to take
        part in the research or exit the survey at any time without penalty.
        You are free to decline to answer any particular question you do not
        wish to answer for any reason.
    </p>
    <p>
    <b> Benefits </b>
        <br> You will be paid £1 for participating in this research study if you
        complete the survey and your responses are approved.
    </p>
    <p>
    <b> Risks </b>
        <br> There are no foreseeable risks involved in participating in this
        study other than those encountered in day-to-day life.
    </p>
    <p>
    <b> Confidentiality </b>
        <br> Data collected during the experiment will be not be linked to any
        identifying information such as your name or email address.
        Therefore, your behaviour during this experiment is completely anonymous.
        The anonymous data will be analysed by the researchers, and will be stored
        afterwards in the School of Economics at UEA, where it may be downloaded
        by other researchers for reanalysis.
    </p>
    <p>
    <b> Contact </b>
        <br> If you wish to know more about the research behind this experiment,
        or if you have any questions or complaints about the experiment, please
        contact Janithe Siriwardana via
        <a href = "mailto: j.siriwardana@uea.ac.uk">j.siriwardana@uea.ac.uk</a>,
        or Dr. Stefan Penczynski at
        <a href = "mailto: s.penczynski@uea.ac.uk">s.penczynski@uea.ac.uk</a>.
    </p>
    <p>
    If you feel you have not been treated according to the descriptions in this form,
        or that your rights as a participant in research have not been honored during
        the course of this project, or you have any questions, concerns, or complaints
        that you wish to address to someone other than the investigator, you may contact
        the UEA School of Economics Research Ethics Committee Chair, Boon Han Koh at
        <a href = "mailto: b.koh@uea.ac.uk">b.koh@uea.ac.uk</a>.
    </p>
    <p>
    <b> Electronic Consent </b>: Clicking on the
        “Agree” button indicates that
        <ul>
        <li> You have read the above information </li>
        <li> You voluntarily agree to participate </li>
        <li> You are 18 years of age or older </li>
        </ul>
    </p>
{% endblock pre_text %}
