{% extends "ledr/SimplePage.html" %}
{% load otree static %}

{% block title %}
    Welcome
{% endblock %}

{% block pre_text %}
<p>
Thank you for taking part in our survey.
</p>
<p>
Our aim is to study consumer preferences for various product characteristics across 3 different product types –
    <span style="color: #ff0000">beer</span>, <span style="color: #ff0000">movie rentals</span>, and <span style="color:
     #ff0000">broadband packages</span>.
</p>
<p>
You will face 4 rounds in total. Instructions specific to a round will be given at the beginning of that round.
</p>
<p>
In rounds 1-3, each round will focus on one of the 3 product types. The order you face rounds is random.
    In each round you will be presented with 8 sets of products for a leading brand in the sector. Each set will contain 4 different products.
    You will be required to select 1 of the 4 products that you most prefer.
    Once you have selected your preferred alternative, please click ‘Next’ to move to the next screen.
    You cannot go back to a previous screen after you hit ‘Next’ so please make sure you carefully consider your choice.
</p>
<p>
In round 4, you will face 3 sets of products. Each set contains 3 alternatives, one from each product type.
    You are required to select your preferred product. Once you have selected this, please click ‘Next’ to move to the next screen.
    You cannot go back to a previous screen after you hit ‘Next’ so please make sure you carefully consider your choice.
</p>
In the next two pages we will ask for your consent to use the answers you provide, and to answer a few simple questions
    to show you have fully read and understood the instructions. Following this we will jump straight into round 1.

Please click ‘Next’ to proceed.

</p>
{% endblock pre_text %}
