{% extends "ledr/SimplePage.html" %}
{% load otree static %}

{% block title %}
    Welcome
{% endblock %}

{% block pre_text %}
<p>
Thank you for taking part in our survey.
</p>
<p>
Our aim is to study consumer preferences for various product characteristics of
    <span style="color: #ff0000">beer</span>.
</p>
<p>
    You will face <b> 10 rounds </b>. In each round you will be presented with <b> 4 different products </b>.
    You will be required to select 1 of the 4 products that you most prefer.
    Once you have selected your preferred alternative, please click ‘Next’ to move to the next screen.
    You cannot go back to a previous screen after you hit ‘Next’ so please make sure you carefully consider your choice.
</p>

The next page we will ask for your consent to use the answers you provide. Following this we will jump straight into round 1.

Please click ‘Next’ to proceed.

</p>
{% endblock pre_text %}
