{% extends "ledr/SimplePage.html" %}
{% load otree static %}

{% block title %}
    Hello!
{% endblock %}

{% block pre_text %}
<p>
You have been invited to participate in a small pilot study of our survey prior to our full launch.
</p>
<p>
From the next page onwards you will progress through the survey as we hope to present it. Please follow the instructions given
and answer the questions accordingly.
</p>
<p>
Once you have completed the survey, we will ask you a few questions regarding your experience. There will be an opportunity
to make any comments you wish, so please keep this in mind when you are going through the survey.
<p>
Thanks!
</p>
{% endblock pre_text %}

