{% extends "ledr/SimplePage.html" %}

{% block pre_text %}
    <p>
    The products in this round are all <span style="color: #ff0000">beers</span>.
    </p>
    <p>
    You will be shown 8 brands of beers. Each brand is considering launching a new product.
    </p>
    <p>
    Carefully consider the 4 alternatives and select the one you would most prefer.
    </p>
    <p>
    Consider any characteristics not defined as being the same across all 4 alternatives
        for a brand.
    </p>
    <p>
    When you are ready, click 'Next' to move to the first brand of beers.
    </p>
{% endblock pre_text %}
