{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Page title
{% endblock %}

{% block content %}
    <table class="table table-striped table-bordered">
    <thead>
    <tr class="table-primary">
    <th>Product name</th>
    {% for item in items %}
        <th style="text-align:center">{{ item.product_name }}</th>
    {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for attribute, values in attributes.items %}
    <tr>
    <td style="font-weight: bold">{{ attribute }}</td>
    {% for val in values %}
        <td style="text-align:center">{{ val }}</td>
    {% endfor %}
    </tr>
    {% endfor %}

    <tr>
        <td style="font-weight: bold">Your choice:</td>
        {% for item in items %}
            <td style="text-align:center">
            <input name="choice" type="radio" value="{{ forloop.counter0 }}" required/>
            </td>
        {% endfor %}
    </tr>
    </tbody>
    </table>

    {% next_button %}
{% endblock %}


