{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Page title
{% endblock %}

{% block content %}
    <table class="table-bordered">
    <thead>
    <tr>
    <th>Product name</th>
    {% for item in items %}
        <th>{{ item.product_name }}</th>
    {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for attribute in attributes %}
    <tr>
    <td></td>
    {% for val in attribute %}
        <td>{{ val }}</td>
    {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
    </table>

    {% next_button %}
{% endblock %}


