{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Page title
{% endblock %}

{% block content %}
    <table class="table-bordered">
    <thead>
    <tr>
    <th>Product name</th>
    {% for item in items %}
        <th>{{ item.product_name }}</th>
    {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for attribute, values in attributes.items %}
    <tr>
    <td>{{ attribute }}</td>
    {% for val in values %}
        <td>{{ val }}</td>
    {% endfor %}
    </tr>
    {% endfor %}

    <tr>
        <td>Your choice:</td>
        {% for item in items %}
            <td>
            <input name="choice" type="radio" value="{{ forloop.counter0 }}" required/>
            </td>
        {% endfor %}
    </tr>
    </tbody>
    </table>

    {% next_button %}
{% endblock %}


